@import "../../styles/globals/mixins";
@import "../../styles/globals/variables";

.minmax {
  margin-bottom: $gap-xs;

  &__inputs {
    position: relative;
    display: flex;
  }

  &__min,
  &__max {
    flex: 1;

    input {
      @include input-base;
      width: 100%;
    }
  }

  &__min {
    margin-right: $gap-sm;
  }
}

.minmax__header {
  @include filter__header;
}

@media (min-width: $media-width) {
  .minmax {
    flex: 1;
    margin-top: $gap-sm;
  }
}
