@import "../../styles/globals/mixins";
@import "../../styles/globals/variables";

.footer {
  text-align: center;
  text-transform: uppercase;
  color: $carbon-light;
  font-size: 1.5em;

  &__total {
    display: inline-block;
    min-width: 2em;
    padding: $gap-xs;
    margin-left: 0.5em;
    border-radius: $radius-sm;
    background: $snow;
  }
}
